body {
    background:#E9EBEE;
    color:black;
    text-align:center;
    font-family: 'Pontano Sans', sans-serif;
}

#show-me-your-trump-face {
    width:500px;
    border: solid 1px;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 10px;
}

p {
    font-size:2em;
}

.content-wrapper {
    text-align:center;
    background:white;
    border: solid 1px;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 10px;
    width:80%;
    margin:20px auto 0;
    padding:10px;
}

#sniffle-container {
    position:relative;
    display:inline-block;
}

#sniffle-container-text {
    left:0;
    right:0;
    position:absolute;
    margin:0 auto;
    width:300px;
    bottom:20px;
    color:white;
    font-size:2em;
    display:none;
}

#sniffle-container-award {
    left:0;
    right:0;
    position:absolute;
    margin:0 auto;
    width:300px;
    bottom:20px;
    color:white;
    background:red;
    font-size:2em;
    display:none;
}

#sniffle-container.active #sniffle-container-text {
    display:inline;
}

#sniffle-container.combo-done-broke #sniffle-container-award {
    display:inline-block;
}

@media (max-width:650px) {
    .content-wrapper {
        width:95%;
    }        
    #show-me-your-trump-face {
        width:90%;
        text-align:center;
    }
}